---
import { fetchYAML } from '@lib/fetch-yaml.js'

const ammoFactoryURL = 'Resources/Prototypes/_Crescent/Entities/Factory/factory.yml';
const ammoFactoryList = await fetchYAML(ammoFactoryURL);

const recipeMunitionsFile = 'Resources/Prototypes/_Crescent/Entities/Recipes/Factory/munitions.yml';
const recipeMunitionsList = await fetchYAML(recipeMunitionsFile);

const ammoFactory = ammoFactoryList.find(factory => factory.id == "Factory120Fab");
const ammoFactoryRecipes = ammoFactory.components.find(component => component.type == "Factory").recipes;

const munitionsList = [];

for (const recipe of ammoFactoryRecipes) {
    const munition = {};
    munition.name = recipeMunitionsList.find(munition => munition.id == recipe).name;
    munition.cost = [];

    const munitionInputsList = recipeMunitionsList.find(munition => munition.id == recipe).inputs;

    Object.keys(munitionInputsList).forEach(key => {
        munition.cost.push(`${munitionInputsList[key]} ${key}`);
    })

    munitionsList.push(munition);
}

---

<table>
    <thread>
        <tr>
            <th>Material</th>
            <th>Ammunition</th>
        </tr>
    </thread>
    {munitionsList.map((munition) => 
    <tr>
        <td>{munition.cost.join(', ')}</td>
        <td>{munition.name}</td>
    </tr>
    )}
</table>
