---
const { tech } = Astro.props;

let color = 'default'

if(tech == 'Lowtech') {
    color = '#c26755'
} else if(tech == 'Midtech') {
    color = '#cebb61'
} else if(tech == 'Hightech') {
    color = '#8cbbc5'
} else if(tech == 'Scrap') {
    color = '#c80000'
}
---
<p>{tech}</p>

<style define:vars={{ color }}>
p {
    color: var(--color);
    font-weight: bold;
}
</style>